@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.business-page{
    font-family: Helvetica,Arial,sans-serif;
}
.business-page-header{
    height: 132px; 
    background-color: white;  
}

.write-review-header{
    display: inline-block;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;

    font-size: 14px;
    text-align: center;
    margin-right: 13px;
    transform: translate(55vw, 1vw);
}

.business-logout{
        transform: translate(78.3vw, 1vw);
        display: inline-block;
}

.business-login-signup{
    transform: translate(78.3vw, 1vw);
    position: relative;
    display: inline-block;
    width: 200px;
}
.business-login-btn{
    display: inline-block;
    width: 48px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-right: 13px;
}
.business-signup-btn, .business-logout{
    display: inline-block;
    width: 63px;
    background-color: #f43939;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.business-signup-btn:hover, .business-logout:hover{
    background-color: #bd1f1f;
    text-decoration: none;
}

.business-login-btn:hover{
    text-decoration: none;
}

.business-login-btn a{
    color: black;
}
.business-signup-btn a{
    color: white;
}

.business-name{
    font-family: 'Poppins', sans-serif;
    color: #2b273c;
    font-size: 48px;
}

.business-page-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40vw,-42.5vh);
    width: 100px;
    height: 35px;
    display: inline-block;
}

.header-photo{
    display: inline-block;
    width: 24.81vw;
    height: 15vw;
    padding-right: 1px; 
    padding-left: 1px; 
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}


.business-details-container{
    margin-left: 10vw;
}

#map-container{
    width: 316px;
    height: 225px;
    display: inline-block;
}
/* search bar */

.search-search-bar{
    display: inline-block;
}


.business-search-bar input{
    width: 481px;
    height: 45px;
    background-color: white;
    display: inline-block;
    border-radius: 4px 0px 0px 4px;
}
.business-search-bar button{
    height: 45px;
    width: 64px;
    background-color:#f43939;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
}

.business-search-bar button:hover{
    background-color: #bd1f1f;
}

.business-search-bar input{
    transform: translate(20vw, 5px);
    box-shadow: 0px 0px 20px -5px #bbbac0;
    
    padding-left: 10px;
}
 .business-search-bar button{
    transform: translate(20vw,23px);
    box-shadow: 0px 0px 20px -5px #bbbac0;
 }
/* location & hours

*/
.location-hours{
    border-top: 1px solid #eeeeef;
    width:700px;
    font-size: 14px;
    margin-top: 13px;
}
.location-hours h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
}
.days{
   display: inline-block; 
   font-weight: 600;
   margin-right: 20px;
   margin-left: 30px;
}
.time{
   display: inline-block; 
   
}
.hours{
    display:inline-block;
    transform: translate(0vw, -6.5vw);
}

.hours ul li{
padding: 2px
}
.buisness-left{
    display:inline-block;
}

/* rating reviews*/

.rating-reviews{
    color: #757280;
    font-size: 16px;
}

.rating{
    width: 178px;
    /* height: 21px; */
    display: inline-block;
    margin-right: 15px;
}

.rating-reviews p{
    display: inline-block;
    transform: translate(0vw, -10px);
}

/*
scroll box*/

.scroll-info{
    display: inline-block;
    width: 382px;
    height: 95x;
    /* transform: translate(67vw, 400px); */
    transform: translate(67vw, 400px);
    border: 1px solid #eeeeef;
    /*position: -webkit-sticky;
    position: sticky;*/
    /* bottom: .5rem;  */
    /* align-self: flex-end; */
    border-radius: 3px;
    font-size: 14px;

    position: absolute;
    /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 100px;
}

.phone img, .website img, .directions img, .message img {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 22px;
    /* padding-left: 22px; */
    padding-top: 12px;
}
.phone p, .website p, .directions a, .message a{
    display: inline-block;
    padding-bottom: 14px;
    padding-top: 12px;
    transform: translate(0, -4px);
}

.website, .phone, .directions, .message{
    border-bottom: 1px solid #eeeeef;
    width: 333px;
    margin-left: 22px;
}
.phone{
    margin-left: 22px;
}

.website p a, .directions a, .message a{
    color: #00838f;
}

/* business buttons */

.add-photo, .share, .save{
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    margin-right: 10px;
    transform: translate(80px, -14.5px);
}

.write-a-review{
    width: 100px;
    display: inline-block;
}

.add-photo p, .share p, .save p{
    display: inline-block
}


.add-photo img, .share img, .save img{
    display: inline-block;
    width: 17px;
    padding-right: 3px;
}

.save img{
    height:17px;
}

.add-photo:hover, .share:hover, .save:hover{
    background-color: #ccc;
    text-decoration: none;
}

/* Recommended Reviews */
.recommended-reviews{
    border-top: 1px solid #ccc;
    padding-top: 40px;
    width: 700px;
    margin-left: 10vw;

}
.recommended-reviews h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.recommended-reviews img{
    width: 148px;
    display: inline-block;
    margin-right: 81px;;
}

.start-review{
    border: 1px solid #eeeeef;
    background-color: #f4f4f4;
    border-radius: 4px;
    width: 466px;
    height: 150px;
    font-size: 14px;
    display: inline-block;
    
}
.start-review img{
    padding-bottom: 22px;
    transform: translate(145px, 30px);
    width: 180px;
}

.start-review p{
    color: black;
    border-top: 1px solid #eeeeef;
    width: 415px;
    padding-top: 22px;
    transform: translate(25px, 10px);
    text-align: center;
}

.start-review p a{
    color: black;
}

/* your trust*/
.your-trust{
    height: 75px;
    width: 694px;
    border: 1px solid #eeeeef;
    background-color: #f4f4f4;
    margin-bottom: 25px;
    font-size: 14px;
}

.your-trust p{
    transform: translate(-45px,13px);
    display: inline-block;
}

.your-trust img{
    width: 19px;
    display: inline-block;
    transform: translate(20px,23px);
}


.your-trust a{
    color: #00838f;
    transform: translate(55px,13px);
    display: block;
}
.your-trust p strong, p a strong{
    font-weight: 600;
}
