@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.business-page{
    font-family: Helvetica,Arial,sans-serif;
}
.business-page-header{
    height: 132px; 
    background-color: white;  
}

.write-review-header{
    display: inline-block;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;

    font-size: 14px;
    text-align: center;
    margin-right: 13px;
    transform: translate(55vw, 1vw);
}

.business-login-signup{
    transform: translate(78.3vw, 1vw);
    position: relative;
    display: inline-block;
    width: 200px;
}
.business-login-btn{
    display: inline-block;
    width: 48px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-right: 13px;
}
.business-signup-btn{
    display: inline-block;
    width: 63px;
    background-color: #f43939;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.business-signup-btn:hover{
    background-color: #bd1f1f;
    text-decoration: none;
}

.business-login-btn:hover{
    text-decoration: none;
}

.business-login-btn a{
    color: black;
}
.business-signup-btn a{
    color: white;
}

.business-name{
    font-family: 'Poppins', sans-serif;
    color: #2b273c;
    font-size: 48px;
}

.business-page-logo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-47vw, -2.3vw);
    width: 80px;
    height: 30px;
    display: inline-block;
}

.header-photo{
    display: inline-block;
    width: 24.81vw;
    height: 15vw;
    padding-right: 1px; 
    padding-left: 1px; 
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}


.business-details-container{
    margin-left: 10vw;
}
.write-a-review{
    width: 100px;
}

#map-container{
    width: 316px;
    height: 225px;
    display: inline-block;
}

/* location & hours

*/
.location-hours{
    border-top: 1px solid #eeeeef;
    width:700px;
    font-size: 14px;
}
.location-hours h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
}
.days{
   display: inline-block; 
   font-weight: 600;
   margin-right: 20px;
   margin-left: 30px;
}
.time{
   display: inline-block; 
   
}
.hours{
    display:inline-block;
    transform: translate(0vw, -6.5vw);
}

.hours ul li{
padding: 2px
}
.buisness-left{
    display:inline-block;
}

.scroll-info{
    display: inline-block;
    width: 382px;
    height: 190px;
    transform: translate(890px, -9vw);
    border: 1px solid #eeeeef;
    position: -webkit-sticky;
    position: sticky;
    bottom: .5rem;
    align-self: flex-end;
    border-radius: 3px;
}
/*
scroll box*/

.phone{
    display: inline-block
}


