.search-item{
    width: 53vw;
    height: 254px;
    border: 1px solid #eeeeef;
    border-radius: 4px;
    margin: 0 15px 15px 35px;
}

.search-item:hover{
     box-shadow: 0px 0px 20px -5px #bbbac0
}
.search-item p{
    font-size: 14px;
    margin-left: 13px;
    margin-bottom: 8px;
    color: #757280;
}
.search-item h1{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 13px;
    margin-bottom: 8px;
    color: black;
}

.search-rating{
    width: 110px;
    margin-left: 13px;
    margin-bottom: 8px;
}

.search-item-pic{
  width: 202px;
  height: 202px;
  object-fit: cover;
  display: inline-block;
  border-radius: 4px 4px 4px 4px;
  margin: 25px 25px 42px 25px;
}

.business-search-info{
    display: inline-block;
    transform: translate(0vw, -10vh);
    z-index: -1000;
    position: relative;
}




/* search-logout
search-login-signup
search-login-btn
search-signup-btn */