/* header */

.splash-logout, .splash-logout-btn{
    transform: translate(85vw, 31px);
    position: absolute;
    display: inline-block;
}
.splash-logout-btn{
    transform: translate(85vw, 31px);
    position: absolute;
}
.splash-login-btn, .splash-logout-btn{
    display: inline-block;
    width: 39px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 7px 15px 8px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-right: 13px;
}
.splash-signup-btn{
    display: inline-block;
    width: 55px;
    border: solid 2px white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 21px 8px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.splash-signup-btn:hover{
    background-color: white;
    color: #666;
    text-decoration: none;
}

.splash-logout:hover{
    text-decoration: none;
}

.splash-login-btn:hover, .splash-logout-btn:hover{
    text-decoration: none;
    border-bottom: 2px solid white;
}

.splash-login-btn a{
    color: black;
}
.splash-signup-btn a{
    color: white;
}

.splash-page{
    font-family: Helvetica,Arial,sans-serif;
}
.splash-header{
    height: 602px; 
    background-image: url("https://belch-seeds.s3.us-east-2.amazonaws.com/bakery-2531504_1920+(1).jpg");
    background-size: contain;
    background-size: cover;
    width: 100vw;
}

.splash-page-logo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-75px, -142px);
    width: 160px;
    height: 60px;
}

.search-bar input{
    width: 481px;
    height: 45px;
    background-color: white;
    display: inline-block;
    border-radius: 4px 0px 0px 4px;
}
.search-bar button{
    height: 45px;
    width: 64px;
    background-color:#d32323;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
}

.search-bar button:hover{
    background-color: #be2020;
}

.search-bar input{
    transform: translate(32vw, 190px);
    position: relative;
     padding-left: 10px;
}
 .search-bar button{
    transform: translate(32vw, 208px);
    position: relative;
 }

/* main page */
.splash-main-content h2{
    color: #d32323;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    width: 963px;
    border-bottom: 1px solid #eeeeef;
    margin-left: 240px;
}
.hot-new ul{
    margin-left: 16%;
}

.hot-new h3{
    color: #d32323;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}